html {
	height: 100%;
}
body {
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 100%;
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
ul {
	list-style-type: none;
}
.center-horizontal {
	position: absolute;
	margin: 0;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.calculator {
	width: 15em;
	padding: 1em;
	border-style: outset;
	border-width: 2px;
	border-color: rgb(132,132,132);
	box-shadow: inset -0.15em -0.15em 2em rgb(116,116,116), 0.5em 0.5em 2em 0.25em black;
	border-radius: 2.5%;
	background: linear-gradient(rgb(248,248,248),rgb(224,224,224) );
}
.calculator:hover .output-box {
	border: 2px groove rgb(224,224,224);
}
.calculator-header {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-weight: bold;

}
.output-box {
	border: 2px groove rgb(240,240,240);
	border-radius: 2.5%;
	margin: 0.5em auto 0.5em auto;
	width: 100%;
	padding: 0 0.5em 0 0.5em;
	text-align: right;
	height: 3em;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	background: linear-gradient(rgb(232,232,232), rgb(199,214,186));
}
.calc-font {
	font-family: 'Space Mono';
	font-weight: bold;
	font-size: 1.05em;
}
.inner-div {
	right: 0;
	display: block;
	position: absolute;
	margin-right: 0.5em;
}
.bottom {
	margin-top: 1.5em;
}
.light-font {
	color: grey;
	font-size: 80%;
}
.flex-row {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.flex-btn {
	flex-grow: 1;
	width: 2.6em;
	height: 2em;
	margin: 0.1em;
	border-radius:10%;
	background-clip: content-box;
}
.flex-btn:hover {
	border-color: rgb(196,196,196);
}
.flex-btn:active {
	border-color: rgb(196,196,196);
	border-style: inset;
	outline: 0;
}
.f-btn {
	background: linear-gradient(rgb(240,128,128), rgb(220,20,60));
}
.f-btn:hover {
	background: linear-gradient(rgb(250,148,148), rgb(240,40,80));
}
.op-btn {
	background: linear-gradient(rgb(192,217,235), rgb(145,145,145));
}
.op-btn:hover {
	background: linear-gradient(rgb(212,237,255), rgb(165,165,165));
}
.std-btn {
	background: linear-gradient(rgb(220,220,220), rgb(185,185,185));
}
.std-btn:hover {
	background: linear-gradient(rgb(240,240,240), rgb(185,185,185));
}
.eq-btn {
	background: linear-gradient(rgb(0,191,255), rgb(30,144,255));
}
.eq-btn:hover {
	background: linear-gradient(rgb(20,211,255), rgb(30,144,255));
}
